<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>주문 내역</title>
    <th:block th:include="fragments/common/head"></th:block>
</head>
<body class="hold-transition sidebar-mini">

<div class="wrapper">
    <!-- Navbar -->
    <th:block th:include="fragments/common/navbar"></th:block>

    <!-- Main Sidebar Container -->
    <th:block th:include="fragments/common/sidebar"></th:block>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>주문 내역</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->

        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <input type="hidden" id="userId" th:value="${session.user.getId()}"/>
            <div class="card">
                <div class="card-body p-0">
                    <table class="table table-striped projects">
                        <thead>
                        <tr>
                            <th style="width: 10%">
                                주문번호
                            </th>
                            <th style="width: 12%">
                                주문 상품명
                            </th>
                            <th style="width: 20%">
                                가격
                            </th>
                            <th style="width: 8%">
                                배송 상태
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${not #lists.isEmpty( productOrderList )}"
                            th:each="row : ${productOrderList}">
                            <td>
                                <h3 th:text="${row.id}"/>
                            </td>
                            <td>
                                <h4 th:text="${row.carts}"/>
                            </td>
                            </td>
                            <td>
                                <h4 th:text="${row.totalPrice}"/>
                            </td>
                            <td>
<!--                                <h2 th:text="${row.productOrderStatus}"/>-->
                            </td>
                        </tr>
                        <tr th:unless="${not #lists.isEmpty( productOrderList )}">
                            <td colspan="6">주문 내역이 없습니다.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>

    <th:block th:include="fragments/common/footer"></th:block>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
</div>
<!-- ./wrapper -->

<th:block th:include="fragments/common/script"></th:block>
</body>
</html>
