<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>재고 현황</title>
    <th:block th:include="fragments/common/head"></th:block>
</head>
<body class="hold-transition sidebar-mini">

<div class="wrapper">
    <!-- Navbar -->
    <th:block th:include="fragments/common/navbar"></th:block>

    <!-- Main Sidebar Container -->
    <th:block th:include="fragments/common/sidebar"></th:block>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>재고 현황</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->

        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <input type="hidden" id="userId" th:value="${session.user.getId()}"/>
            <div class="card">
                <div class="card-body p-0">
                    <table class="table table-striped projects">
                        <thead>
                        <tr>
                            <th style="width: 10%">
                                상품번호
                            </th>
                            <th style="width: 12%">
                                상품명
                            </th>
                            <th style="width: 25%">
                                상품 이미지
                            </th>
                            <th style="width: 25%">
                                재고량
                            </th>
                            <th style="width: 15%">
                                판매량
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${not #lists.isEmpty( productList )}"
                            th:each="row : ${productList}">
                            <td>
                                <h3 th:text="${row.id}"/>
                            </td>
                            <td class="text-left"><a
                                    th:href="'/products/' + ${row.id}"
                                    th:text="${row.name}"></a></td>
                            <td class="text-left">
                                <img class="img-fluid" th:src="@{'/images/' + ${row.productImg}}" alt="Product picture">
                            </td>
                            <td>
                                <h3 th:text="${row.totalCount}"/>
                            </td>
                            <td>
                                <h3 th:text="${row.buyCount}"/>
                            </td>
                        </tr>
                        <tr th:unless="${not #lists.isEmpty( productList )}">
                            <td colspan="6">상품 목록이 비었습니다.</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </section>
    </div>

    <th:block th:include="fragments/common/footer"></th:block>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
</div>
<!-- ./wrapper -->

<th:block th:include="fragments/common/script"></th:block>
</body>
</html>
