<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>회원 목록</title>
    <th:block th:include="fragments/common/head"></th:block>
</head>
<body class="hold-transition sidebar-mini">

<div class="wrapper">
    <!-- Navbar -->
    <th:block th:include="fragments/common/navbar"></th:block>

    <!-- Main Sidebar Container -->
    <th:block th:include="fragments/common/sidebar"></th:block>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>회원 목록</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->

        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <input type="hidden" id="userId" th:value="${session.user.getId()}"/>
            <div class="card">
                <div class="card-body p-0">
                    <table class="table table-striped projects">
                        <thead>
                        <tr>
                            <th style="width: 10%">
                                번호
                            </th>
                            <th style="width: 10%">
                                아이디
                            </th>
                            <th style="width: 15%">
                                이메일
                            </th>
                            <th style="width: 8%">
                                이름
                            </th>
                            <th style="width: 8%">
                                권한
                            </th>
                            <th style="width: 20%">
                                주소
                            </th>
                            <th style="width: 20%">
                                상세주소
                            </th>
                            <th style="width: 10%">
                                삭제
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${not #lists.isEmpty( userList )}"
                            th:each="row : ${userList}">
                            <td>
                                <h3 th:text="${row.id}"/>
                            </td>
                            <td class="text-left">
                                <h4 th:text="${row.identifier}"/>
                            </td>
                            <td class="text-left">
                                <h4 th:text="${row.email}"/>
                            </td>
                            <td class="text-left">
                                <h4 th:text="${row.name}"/>
                            </td>
                            <td class="text-left">
                                <h4 th:text="${row.authorities}"/>
                            </td>
                            <td class="text-left">
                                <h4 th:text="${row.addr}"/>
                            </td>
                            <td class="text-left">
                                <h4 th:text="${row.detailAddr}"/>
                            </td>
                            <td>
                                <a th:href="'/users/' + ${row.id}">
                                    <i class="nav-icon fas fa-edit" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        <tr th:unless="${not #lists.isEmpty( userList )}">
                            <td colspan="6">회원이 없습니다.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>

    <th:block th:include="fragments/common/footer"></th:block>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
</div>
<!-- ./wrapper -->

<th:block th:include="fragments/common/script"></th:block>
</body>
</html>
