<aside class="main-sidebar sidebar-dark-primary elevation-4" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <!-- Brand Logo -->
  <a th:href="@{/}" class="brand-link text-center">
    <span class="brand-text font-weight-light">Jaeyeon Shop</span>
    <span sec:authorize="hasAuthority('ROLE_ADMIN')" class="brand-text font-weight-light">관리자 모드</span>
  </a>

  <input id="user" name="user" hidden="true" th:value="${user}"/>

  <!-- Sidebar -->
  <div class="sidebar">
    <div sec:authorize="isAnonymous()" class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="info">
        <a th:href="@{/login}" class="d-block" style="margin-left: 80px;">LOGIN</a>
      </div>
    </div>

    <!-- Sidebar user panel (optional) -->
    <div sec:authorize="isAuthenticated()" class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div sec:authorize="isAuthenticated()" class="info">
        <a th:text="${session.user.getName()} + 님" th:href="@{'/productOrderList/' + ${session.user.getId()}}" class="text-white"></a>
      </div>
      <div sec:authorize="isAuthenticated()" class="info">
        <a href="/logout" class="text-white"><i class="fa fa-user-o mr-5 text-theme-colored2"></i> Logout </a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
        <li class="nav-header">SHOP</li>
        <li class="nav-item has-treeview">
          <a th:href="@{/products/(category=Outer)}" class="nav-link">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              Outer
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>
              Top
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a th:href="@{/products/(category=TopLong)}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Long</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/products/(category=TopShort)}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>1 / 2</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tree"></i>
            <p>
              Pants
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a th:href="@{/products/(category=PantsLong)}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Long</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/products/(category=PantsShort)}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Short</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a th:href="@{/products/(category=Shoes)}" class="nav-link">
            <i class="nav-icon fas fa-edit"></i>
            <p>
              Shoes
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview">
          <a th:href="@{/products/(category=ACC)}" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>
              ACC
            </p>
          </a>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item has-treeview">
          <a th:href="@{'/carts/' + ${session.user.getId()}}" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>
              장바구니
            </p>
          </a>
        </li>

        <div sec:authorize="hasAuthority('ROLE_ADMIN')" class="user-panel mt-3 pb-3 mb-3 d-flex"></div>
        <li sec:authorize="hasAuthority('ROLE_ADMIN')" class="nav-header">ADMIN</li>
        <li sec:authorize="hasAuthority('ROLE_ADMIN')" class="nav-item has-treeview">
          <a href="/selectCategory" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>
              상품 등록
            </p>
          </a>
        </li>
        <li sec:authorize="hasAuthority('ROLE_ADMIN')" class="nav-item has-treeview">
          <a th:href="@{/userList}" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>
              회원 목록
            </p>
          </a>
        </li>
        <li sec:authorize="hasAuthority('ROLE_ADMIN')" class="nav-item has-treeview">
          <a th:href="@{/productLimitCountList}" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>
              재고 현황
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>