<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>회원가입</title>
	<th:block th:include="fragments/common/head"></th:block>
</head>

<script th:inline="javascript">

        // 회원가입 스크립트
        // 유효성 체크 컨텍스트
        var validChk = {

            // 아이디 중복, 유효성 체크
            duplicateChkFn          : validCallback.duplicateChkFnCb,
            // 빈값 체크
            emptyChkFn              : validCallback.emptyChkFnCb,
            // 이메일 유효성 체크
            emailValidChkFn         : validCallback.emailValidChkFnCb,
            // 비밀번호 유효성 체크
            pwdValidChkFn           : validCallback.pwdValidChkFnCb,
            // 비밀번호 확인 유효성 체크
            pwdConfirmValidChkFn    : validCallback.pwdConfirmValidChkFnCb,
            // 입력 데이터 종합 유효성 체크
            registerValidChkFn      : validCallback.registerValidChkFnCb
        }

        var registerInput = {

            // 회원가입 완료
            registerSubmitFn	: function() {

                // 유효성 검사
                if (!validChk.registerValidChkFn()) {
                    return;
                }

                // 회원가입 폼 전송
                $("#registerFrm").submit();
            }
        }

        $(function() {

            // request에 담긴 데이터
            if ([[${errorMsg}]]) {
                alert([[${errorMsg}]]);
            }
            // 회원가입 완료 메시지
            if ([[${registerComplete}]]) {
                alert([[${registerComplete}]])
            }
        })
    </script>

<body class="hold-transition register-page">
<div class="register-box">
	<div class="register-logo">
		<a th:href="@{/}"><b>Jaeyeon</b>SHOP</a>
	</div>

	<div class="card">
		<div class="card-body register-card-body">
			<p class="login-box-msg">회원가입</p>

			<form id="registerFrm" name="reg-form" class="register-form" method="post" th:action="@{/register}">
				<!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
				<div class="icon-box mb-0 p-0">
					<a href="#" class="icon icon-bordered icon-rounded icon-sm pull-left mb-0 mr-10">
						<i class="pe-7s-users"></i>
					</a>
					<h4 class="text-gray pt-10 mt-0 mb-30">계정이 없으신가요? 얼른 가입하세요!</h4>
				</div>
				<hr>
				<p class="text-gray">회원가입을 하실 경우 더 많은 서비스를 제공받을 수 있습니다.</p>
				<p>* 표시가 있는 칸은 필수입니다.</p>
				<hr>
				<div class="row">
					<div class="form-group col-md-6">
						<label>identifier*</label>
						<input id="register-identifier" name="identifier" data-name="아이디" class="form-control registrationInput" type="text" />
						<p class="text-gray">아이디는 영문/숫자 조합 6자리 ~ 12자리</p>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-6">
						<label>Name*</label>
						<input id="register-name" name="name" data-name="이름" class="form-control registrationInput" type="text" maxlength="10" />
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-6">
						<label for="register-password">Password*</label>
						<input id="register-password" data-name="비밀번호" name="password" class="form-control registrationInput" type="password" />
						<p class="text-gray">비밀번호는 영문/숫자/특수문자 조합 8자리~15자리</p>
					</div>
					<div class="form-group col-md-6">
						<label>Re-enter Password*</label>
						<input id="register-passwordConfirm" data-name="비밀번호 확인" name="passwordConfirm"  class="form-control registrationInput" type="password" />
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-6">
						<label>Email Address*</label>
						<input id="register-email" name="email" data-name="이메일" class="form-control registrationInput" type="text" />
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-6">
						<label for="register-address">Address</label>
						<input id="register-address" data-name="도로명주소" name="addr" class="form-control" type="text" />
					</div>
					<div class="form-group col-md-6">
						<label for="register-detailAddress">Detail Address</label>
						<input id="register-detailAddress" data-name="상세주소" name="detailAddr" class="form-control" type="text" />
					</div>
				</div>
				<div class="form-group">
					<button class="btn btn-blue btn-lg btn-block btn-success mt-15" type="submit">Register Now</button>
				</div>
			</form>

			<a th:href="@{/login}" class="text-center">I already have a ID</a>
		</div>
		<!-- /.form-box -->
	</div><!-- /.card -->
</div>
<!-- /.register-box -->

<th:block layout:fragment="script">
	<script th:inline="javascript">		// 자바스크립트를 사용하기 위한 구문
			/*<![CDATA[*/					// CDATA는 특수문자를 전부 문자열로 치환 (SQL Injection 방지)

			function loginMember(form) {		// <form> 태그 안의 onSubmit 이벤트로 인해 컨트롤러로 데이터를 전달하기 전에 실행되는 유효성 검사 함수

				var result = (
						   isValid(form.email, "이메일", null, null)
						&& isValid(form.password, "비밀번호", null, null)
				);

				if ( result == false ) {
					return false;
				}
			}

			/*]]>*/
		</script>
</th:block>
<th:block th:include="fragments/common/script"></th:block>
</body>
</html>